# django
SECRET_KEY=YOUR_SECRET_KEY
DEBUG=True

# database
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db

# translate
DEEPL_AUTH_KEY=YOUR_DEEPL_KEY

# On Fly, DATABASE_URL is stored as a secret by postgres attach.
# DATABASE_URL=postgres://USER:PASSWORD@words-coach-db.flycast:5432/words_coach
# ALLOWED_HOSTS=words-coach-app.fly.dev,localhost,127.0.0.1
# CSRF_TRUSTED_ORIGINS=https://words-coach-app.fly.dev
