[flake8]
exclude =
    .git,
    .gitignore,
    .dockerignore,
    *.pot,
    *.py[co],
    __pycache__,
    __init__.py,
    venv,
    .env,
    tests,
    docs,
    api/migrations/,
    accounts/migrations/,
    config/settings

per-file-ignores =
    # imported but unused
    __init__.py: F401

max-line-length = 200
