$secondary-color: #ffda1b;
$accent-color: #0d6efd;
$dark-color: #0e151f;
$error-color: #fa3e3a;
$success-color: #00c738;
$stroke-color: #c2d3e9;
$main-word-color: #ffda1b;
$secondary-word-color: #4590ff;
