@use 'sass:color';
@use "../../Styles/Variables.scss" as *;


$button-blue: #217BFF;

.button {
  transition: 0.2s ease-in-out;
  display: inline-block;
  text-decoration: none;

  &:disabled svg {
    opacity: 0.2;
  }

  &--raised {
    background-color: $secondary-color;
    color: black;
    border-radius: 50px;

    &:hover {
      background-color: $button-blue;
      color: white;
    }

    &:disabled {
      background-color: color.adjust($color:white, $alpha:-0.8);
      color: color.adjust($color:white, $alpha:-0.5);
    }
  }

  &--lg {
    font-size: 1.25rem;
    height: 60px;
    min-width: 295px;
    padding: 0.6em 1em;
  }

  &--bubble {
    position: relative;

    & > .bubble {
      position: absolute;
      bottom: -4px;
      left: -10px;
      right: -10px;
      font-size: 12px;
      line-height: 1;
      text-align: center;

      & > span {
        background-color: $secondary-color;
        border-radius: 10px;
        padding: 1px 5px;
        color: black;
      }
    }
  }

  

}
