@use 'sass:color';
@use "../../Styles/Variables.scss" as *;


$button-blue: #217BFF;
$red-icon-color: #FA3E3A;

.button {
  transition: 0.2s ease-in-out;
  display: inline-block;
  text-decoration: none;

  &:disabled svg {
    opacity: 0.2;
  }

  &--raised {
    background-color: $secondary-color;
    color: black;
    border-radius: 50px;

    &:hover {
      background-color: $button-blue;
      color: white;
    }

    &:disabled {
      background-color: $button-blue;
      color: color.adjust($color:white, $alpha:-0.5);
    }
  }

  &--lg {
    font-size: 1.25rem;
    height: 60px;
    min-width: 295px;
    padding: 0.6em 1em;
  }

  &--lg-modal {
    font-size: 1.25rem;
    height: 60px;
    min-width: 227px;
    padding: 0.6em 1em;
  }

  &--md {
    font-size: 1rem;
    height: 40px;
    min-width: 180px;
    padding: 0.4em 0.8em;
  }

  &--bubble {
    position: relative;

    & > .bubble {
      position: absolute;
      bottom: -4px;
      left: -10px;
      right: -10px;
      font-size: 12px;
      line-height: 1;
      text-align: center;

      & > span {
        background-color: $secondary-color;
        border-radius: 10px;
        padding: 1px 5px;
        color: black;
      }
    }
  }

  &--icon {
    &:hover {
      opacity: 0.8;
    }

    svg {
      vertical-align: middle;
    }
  }

  &--close-btn {
      justify-content: center;
      align-items: center;
      width: 46px;
      height: 46px;
      border-radius: 0 20px;
      background-color: $secondary-color;
  }

  &--circle {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: white;
  }
}

.icon-red svg {
  fill: $red-icon-color;
}

.icon-blue svg {
  fill: $accent-color;
}

.icon-black svg {
  fill: black;
}
